html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-tertiary {
    background-color: #5C615E;
    border: 1px solid #202C1F;
    color: #FFF5F3;
}

.btn-outline-tertiary i {
    color: #FFF5F3;
}

.btn-outline-tertiary:hover {
    background-color: #4A4F4C;
    border-color: #1A2418;
    color: #FFF5F3;
}

.btn-outline-tertiary:focus {
    box-shadow: 0 0 0 0.25rem rgba(32, 44, 31, 0.5);
}