@page
@model Webshop.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacybeleid";
}

<div class="container py-4">
    <h1 class="fw-bold mb-4">@ViewData["Title"]</h1>

    <p>Bij <strong>Matrix Inc.</strong> wordt jouw privacy <em>minstens zo serieus</em>genomen als de aanbieding.</p>

    <h4 class="mt-4">Wat wordt er verzameld?</h4>
    <ul>
        <li>Je naam, e-mailadres en eventueel je pizza voorkeuren</li>
        <li>Gegevens over je bestellingen, zodat we weten waar de producten moeten worden afgeleverd</li>
        <li>Informatie over je winkelgedrag op onze website.</li>
    </ul>

    <h4 class="mt-4">Voor welke doeleinden wordt de data gebruikt?</h4>
    <ul>
        <li>Verwerken van bestellingen.</li>
        <li>Jou op de hoogte houden van je aankoop, of spammen als die DHL-Bezorger voor 15e keer het niet gered heeft.</li>
        <li>Verbeteren van de webshopervaring.</li>
    </ul>

    <h4 class="mt-4">Deelt Matrix Inc. dit met anderen?</h4>
    <p>Nee. Tenzij jij er zelf voor kiest dit te delen :).</p>

    <h4 class="mt-4">Cookies?</h4>
    <p>Ja, de website gebruikt cookies voor een sessie. (En nee, deze zijn niet te eten.)</p>

    <h4 class="mt-4">Jouw rechten:</h4>
    <ul>
        <li>Je mag altijd vragen welke gegevens er van jou aanwezig zijn.</li>
        <li>Je mag vragen om alles te verwijderen.</li>
        <li>Je hebt het recht om zelfs gewoon even hallo zeggen via het contactformulier.</li>
    </ul>

    <h4 class="mt-4">Vragen?</h4>
    <p>Neem gerust contact op. Ik beantwoord liever vragen dan nog een klasse te schrijven.</p>
</div>
